<?xml version="1.0"?>

<launch>
  <node pkg="hector_stability_assistance" type="speed_controller_node" name="stability_speed_controller" output="screen" respawn="true">
    <param name="enabled" value="false"/>
    <param name="control_rate" value="20.0"/>
    <param name="prediction_horizon" value="1.0"/>
    <param name="maximum_time_step" value="0.25"/>
    <param name="safety_distance" value="0.15"/>
    <param name="sample_resolution" value="0.05"/>
    <param name="angular_sample_resolution" value="0.15"/>
    <param name="virtual_inertia_factor" value="8.0"/>
    <param name="critical_stability_threshold" value="0.0"/>
    <param name="warn_stability_threshold" value="1.0"/>

    <!-- joints -->
    <rosparam>
      joints:
        flipper_front_joint:
          in: /flipper_control/flipper_front_velocity_controller/command_unlimited
          out: /flipper_control/flipper_front_velocity_controller/command
        flipper_back_joint:
          in: /flipper_control/flipper_back_velocity_controller/command_unlimited
          out: /flipper_control/flipper_back_velocity_controller/command
    </rosparam>

    <!-- sdf contact estimation lib parameters -->
    <param name="pose_predictor" value="sdf_contact_estimation::SDFContactEstimation"/>
    <rosparam file="$(find hector_stability_assistance)/config/sdf_contact_estimation.yaml" command="load" ns="sdf_pose_predictor"/>
    <rosparam file="$(find sdf_contact_estimation)/config/asterix_shape_config.yaml" command="load" ns="sdf_pose_predictor/shape_model" />
    <param name="sdf_pose_predictor/debug" value="false"/>

    <!-- esdf server parameters -->
    <rosparam file="$(find hector_sensor_proc_launch)/config/voxblox_common_config.yaml" command="load" ns="esdf_server"/>
    <param name="esdf_server/update_mesh_every_n_sec" value="0.0"/>
    <remap from="~/esdf_server/esdf_map_in" to="/esdf_server/esdf_map_out" />

    <remap from="~cmd_vel_in" to="/cmd_vel_unlimited"/>
    <remap from="~cmd_vel_out" to="/cmd_vel_raw"/>
  </node>
</launch>
